.singinbtn {
  position: relative;
  background: #6A5CFF; 
  border-radius: 30px;
  border: 3px solid #ffffffdb;
  overflow: hidden;
  transition: .4s ease-in-out;
  z-index: 1;
  cursor: pointer;
}

.singinbtn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff; 
  border-radius: 25px;
  transform: scaleX(0);
  transform-origin: left; 
  transition: transform .4s ease-in-out;
  z-index: 0;
}

.singinbtn:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.singinbtn:not(:hover)::after {
  transform-origin: right;
}


.singinbtn span {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 400;
  transition: .4s ease-in-out;
}

.singinbtn:hover span {
  color: rgba(0, 0, 255, 0.638)
}

.singinbtns {
  position: relative;
  background: #fff; 
  border-radius: 30px;
  border: 3px solid #f6f4f4ea;
  overflow: hidden;
  transition: .4s ease-in-out;
  z-index: 1;
  cursor: pointer;
}

.singinbtns::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6a75f1; 
  border-radius: 25px;
  transform: scaleX(0);
  transform-origin: left; 
  transition: transform .4s ease-in-out;
  z-index: 0;
}

.singinbtns:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.singinbtns:not(:hover)::after {
  transform-origin: right;
}


.singinbtns span {
  position: relative;
  z-index: 2;
  color: rgba(0, 0, 255, 0.66);
  font-weight: 400;
  transition: .4s ease-in-out;
}

.singinbtns:hover span {
  color: #fff;
}

.aboutmainimg{
  transition: 1s ease-in-out;
  animation: aboutbg 5s infinite linear;
}
@keyframes aboutbg {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0);
  }
}

.aboutcard:hover img{
  background: #f8f8f8f3;
}

.toggle_switch .togglebtn{
  position: relative;
  padding:4px 35px ;
  background: blue;
  border-radius: 25px;
}

.singinbutton {
  position: relative;
  background: #6A5CFF; 
  border-radius: 30px;
  border: 3px solid #ffffffdb;
  overflow: hidden;
  transition: .4s ease-in-out;
  z-index: 1;
  cursor: pointer;
}

.singinbutton::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff; 
  border-radius: 25px;
  transform: scaleX(0);
  transform-origin: left; 
  transition: transform .4s ease-in-out;
  z-index: 0;
}

.singinbutton:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.singinbutton:not(:hover)::after {
  transform-origin: right;
}


.singinbutton span {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 400;
  transition: .4s ease-in-out;
}

.singinbutton:hover span {
  color: rgba(0, 0, 255, 0.638)
}